@media (max-width: 640px) {

    body {
        min-height: 100vh;
    }

    footer {
        flex-shrink: 0;
    }

    /* SERVICES */

    #services main {
        flex-direction: column;
        flex-grow: 1;

    }

    #services footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .card h3 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: center;
        color: var(--color-deep-purple);
    }

    .card p {
        font-size: 1rem;
        color: var(--color-silver);
        text-align: center;
    }

    .card img {
        height: 125px;
        width: 125px;
    }

        * CONTACT */ form {
            background-color: white;
            color: var(--color-darkgray);
            max-width: 450px;
            display: block;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
    
        form h1 {
            margin-top: 75px;
            font-size: 1.2rem;
            line-height: 1.5rem;
    
        }
    
        form p {
            font-size: 1rem;
            line-height: 1.1rem;
        }
    
        
    
        .f1 input[type="submit"] {
            font-size: 0.8rem;
            max-width: 150px;
    
        }
    
        .yourname,
        .email .check {
            font-size: 0.8rem;
    
        }
    
        .optional-text,
        .check {
            font-size: 0.7rem;
            color: grey;
        }
    
        /* FORM RESPONSE */
    
        .responseh1 {
            line-height: 3rem;
            margin-top: -2rem;
            font-size: 18px;
        }
    
        .name-input {
            margin-top: 18px;
            font-size: 20px;
        }
}