body{
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width:640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: coral;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem
}

section {
    background-color: ivory;
    padding: 5px;
}